<blockquote class="page-width repeater-quote section-{{ section.id }}">
  <div class="page-width--narrow">
    {%- if item.quote_text != blank -%}
      <div class="repeater-quote__quote text-wrap-balance rte scroll-trigger animate--slide-in">{{ item.quote_text }}</div>
    {%- endif -%}
    {%- if item.author_name != blank or item.author_title != blank -%}
      <div class="repeater-quote__credentials scroll-trigger animate--slide-in">
        {%- if item.author_name != blank -%}
          <span class="repeater-quote__author">{{ item.author_name }}</span>
        {%- endif -%}
        {%- if item.author_title != blank -%}
          <span class="repeater-quote__title">{{ item.author_title }}</span>
        {%- endif -%}
      </div>
    {%- endif -%}
  </div>
</blockquote>

{%- style -%}
  .product-page .repeater-quote,
  .repeater-quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 12rem 0 0;
    background-color: var(--color-green-light);
    border: 0;
  }

  .repeater-quote__quote {
    color: #000;
    text-align: center;
    /* Global/Headline/Extra Bold/36 */
    font-family: Manrope;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 120%;
    /* 43.2px */
    letter-spacing: -0.72px;
  }

  .repeater-quote__quote::before {
    content: "“";
    font-size: 8.8rem;
    line-height: 1;
    margin-right: 1.6rem;
    color: #000;
    position: absolute;
    left: -15%;
    top: 0;
  }

  .repeater-quote__quote::after {
    content: "”";
    font-size: 8.8rem;
    line-height: 1;
    margin-left: 1.6rem;
    color: #000;
    position: absolute;
    right: -15%;
    top: 0;
  }

  .repeater-quote__credentials {
    color: #000;
    font-family: "Manrope";
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 150%;
  }

  .repeater-quote__author {
    margin-right: 2.3rem;
    font-weight: 600;
  }

  .repeater-quote__title::before {
    content: "•";
    position: absolute;
    margin-left: -1.4rem;
  }

  @media screen and (max-width: 1023px) {
    .product-page .repeater-quote,
    .repeater-quote {
      margin: 3.2rem 0;
      padding: 5.6rem 3.2rem;
    }
    .repeater-quote__quote {
      font-size: 2.4rem;
    }
  }
{%- endstyle -%}