<section class='image-section__wrapper repeater-image scroll-trigger animate--slide-in {% if item.portrait == true %} page-width--narrow repeater-image__center{% endif %}'>
  {%- if item.image -%}
    <div class='{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}'>
      <div
        class='repeater-image__adapt{% if item.image.value %} media-fit-cover{% endif %}'
        {% if item.image.value %}
        style='padding-bottom: {{ 1 | divided_by: item.image.value.aspect_ratio | times: 100 }}%;'
        {% endif %}>
        <img
          src="{{ item.image.value | image_url: width: 1100 }}"
          loading='eager'
          fetchpriority='high'
          srcset="
            {{ item.image.value | image_url: width: 300 }} 300w,
            {{ item.image.value | image_url: width: 600 }} 600w,
            {{ item.image.value | image_url: width: 1200 }} 1200w
            "
          sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px, 1200px"
          width="1200"
          height="800"
          alt="test" />
      </div>
    </div>
  {%- endif -%}
</section>

{% comment %} style video in here {% endcomment %}

<style>
  /* style image above to be 16x9 responsive */

  .image-section__wrapper {
    position: relative;
    overflow: hidden;
  }

  .image-section__wrapper {
    margin: 6rem 0 0;
    width: 100%;
  }

  @media screen and (min-width: 750px) {
    .image-section__wrapper {
      margin: 12rem auto auto;
      width: 70%;
      max-width: 120rem;
    }
  }


  .image-section__wrapper img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
  }
  .image-section__wrapper::before {
    content: '';
    display: block;
    /* 16:9 aspect ratio */
  }
  .image-section__wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .repeater-image__center {
    margin: 6rem auto 0;
  }

  @media screen and (min-width: 750px) {
    .repeater-image__center {
      margin: 12rem auto 0;
      max-width: 400px;
    }

  }

</style>