<section class="justified-header-container">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'justified_header' %}
        {% render block %}
      {% else %}
        <div class="container-block {{ block.type }}">
          {% render block %}
        </div>
    {% endcase %}
  {% endfor %}
</section>

{% schema %}
{
  "name": "Justified Header Content",
  "settings": [ {
      "type": "color_scheme",
      "label": "Color Scheme",
      "id": "color_scheme"
  }],
  "blocks": [
    {
      "type": "@theme"
    },
  ],
  "presets": [
    {
      "name": "Justified Header + Content",
      "blocks": [
        {
          "type": "justified_header"
        }
      ]
    }
  ]
}
{% endschema %}
