.totals,
.credit_totals {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.credit_totals {
  justify-content: space-between;
}

.totals > * {
  font-size: 1.6rem;
  margin: 0;
}

.credit_totals > * {
  font-size: 1.3rem;
  margin: 0;
}

.totals > h2 {
  font-size: calc(var(--font-heading-scale) * 1.6rem);
}

.credit_totals > h2 {
  font-size: calc(var(--font-heading-scale) * 1.3rem);
  display: flex;
  align-items: flex-start;
  margin-top: 0;
}

.credit_totals span {
  margin-right: 0.3rem;
}

.credit_totals svg {
  width: 24px;
  height: 18px;
}

.credit_totals svg path {
  fill: #6e1c20;
}

.credit_totals .totals__total-value {
  font-size: 1.4rem;
  font-family: 'Manrope';
}

.totals *,
.credit_totals * {
  line-height: 1;
}

.totals > * + *,
.credit_totals > * + * {
  margin-left: 2rem;
}

.totals__total {
  margin-top: 0.5rem;
}

.totals__total-value {
  font-size: 1.8rem;
}

.cart__ctas + .totals {
  margin-top: 2rem;
}

@media all and (min-width: 750px) {
  .totals {
    justify-content: flex-end;
  }
}
